services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U airflow -d airflow"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: always
    networks:
      - airflow-net
    volumes:
      - postgres_data:/var/lib/postgresql/data

  mongo:
    image: mongo:7
    restart: always
    ports:
      - "27017:27017"
    networks:
      - airflow-net
    volumes:
      - mongo_data:/data/db

  airflow-init:
    build: .
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
      mongo:
        condition: service_started
    networks:
      - airflow-net
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
    command: >
      bash -c "airflow db migrate &&
      airflow users create
      --username admin
      --password admin
      --firstname Admin
      --lastname User
      --role Admin
      --email admin@example.com
      || true;
      airflow connections add mongo_default
      --conn-type mongo
      --conn-host mongo
      --conn-port 27017
      --conn-schema airflow
      || true"
    restart: "no"

  airflow-webserver:
    build: .
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
      mongo:
        condition: service_started
      airflow-init:
        condition: service_completed_successfully
    networks:
      - airflow-net
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
    command: webserver
    ports:
      - "8080:8080"
    restart: always

  airflow-scheduler:
    build: .
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
      mongo:
        condition: service_started
      airflow-init:
        condition: service_completed_successfully
    networks:
      - airflow-net
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
      - ./data:/opt/airflow/data/
    command: scheduler
    restart: always

networks:
  airflow-net:

volumes:
  postgres_data:
  mongo_data: